<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Doc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<style>
    body {
        background-image: url('https://cutt.ly/khjp1L6');
        font-family: 'Oswald', sans-serif" 

    }
</style>

<body>
    <div class="container" id="container">
        <div class="row">
            <div class='col-md-4 center mt-5'>
                <%- include('menu') -%>
            </div>
            <div class="col-md-8 mt-5">
                <% data.forEach(function(list){ %>
                <div class="card  mb-2">
                    <div class="card-body">

                        <h5 class="card-title">สายการบิน <%=list.NameAirline%></h5>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <h6 class="card-text mb-2 text-muted">
                                    ต้นทาง <%=list.Source%><br>สนามบินต้นทาง
                                    <%=list.AirportSource%><br>วันที่ออกเดินทาง <span
                                        style="color: blue;"><%=list.DateDetail[0].DateStart.Date%></span>
                                    <br>
                                    DepartureTime <span
                                        style="color: blue;"><%=list.DateDetail[0].DateStart.DepartureTime%></span><br>
                                    ArrivingTime <span
                                        style="color: blue;"><%=list.DateDetail[0].DateStart.ArrivingTime%></span>
                                </h6>
                            </div>
                            <div class="col-md 6 mb-2 text-muted">
                                <h6 class="card-text mb-2 text-muted">
                                    ปลายทาง <%=list.Destination%><br>สนามบินปลายทาง
                                    <%=list.AirportDestination%><br>วันที่เดินทางกลับ <span style="color: blue;">
                                        <%=list.DateDetail[1].DateEnd.Date%>
                                    </span>
                                    <br>
                                    DepartureTime <span style="color: blue;">
                                        <%=list.DateDetail[1].DateEnd.DepartureTime%></span><br>
                                    ArrivingTime <span
                                        style="color: blue;"><%=list.DateDetail[1].DateEnd.ArrivingTime%></span>
                                </h6>
                            </div>
                        </div>
                        <hr>
                        <h5 class="card-title">ข้อมูลไฟลท์บิน</h5>
                        <p class="card-text mb-2 text-muted">Flight No. : <%=list.FlightNo%> <br> Type : <%=list.Type%>
                        </p>
                        <p class="card-text mb-2 text-muted">
                            ประเภทที่นั่ง : First Class<br>
                            ราคา <%=list.Class[0].FirstClass.Price%><br>
                            จำนวนผู้โดยสาร <%=list.Class[0].FirstClass.NumberOfPassengers%>

                        </p>
                        <p class="card-text mb-2 text-muted">
                            ประเภทที่นั่ง : Business Class<br>
                            ราคา <%=list.Class[0].BusinessClass.Price%><br>
                            จำนวนผู้โดยสาร <%=list.Class[0].BusinessClass.NumberOfPassengers%>

                        </p>
                        <p class="card-text mb-2 text-muted">
                            ประเภทที่นั่ง : Economy Class<br>
                            ราคา <%=list.Class[0].Economy.Price%><br>
                            จำนวนผู้โดยสาร <%=list.Class[0].Economy.NumberOfPassengers%>

                        </p>
                        <hr>
                        <h5 class="card-title">ข้อมูลอื่นๆ</h5>
                        <p class="card-text mb-2 text-muted">นักบิน : <%=list.CaptionName%>
                            <br>ผู้ช่วยนักบิน : <%=list.CoPilotName%> <br>จำนวนพนักงานต้อนรับบนเครื่องบิน :
                            <%=list.Numberofreceptionist%></p>
                    </div>


                </div>

                <% }); %>
            </div>
        </div>
    </div>
</body>



</html>